.header {
  width: 100%;
  margin: 0 auto;
  padding: 7px 7px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.home {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.home:focus {
  outline: none;
}